.app {
  text-align: center;
}

.bothwindows {
  display: flex;
}

.mdwindow {
  flex: 1;
}

.htmlwindow {
  flex: 1;
}

.previewwindow {
  flex: 1;
}

.previewtext {
  text-align: left;
  padding: 0 0.5em 0 0.5em;
}

.mdtext {
  resize: none;
  height: 400px;
  width: 100%;
}

.copybtn {

  background-color: palegreen;
  padding: 1em;
  color: black;
  border-radius: 10px;
}

.flash-message {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 200px;
  padding: 1em;
  background-color: yellowgreen;
  z-index: 100;
  border-radius: 10px ;
}




.heading {
  background-color: lightgray;
  font-family: arial, verdana, sans-serif;
  color: darkgray;
  padding: 5px;
  margin: 0 0 1px 0;
}

.subheading {
  background-color: lightgray;
  font-family: arial, verdana, sans-serif;
  color: gray;
  padding: 2px;
  margin: 0 0 0 0;
}
